<!DOCTYPE html>
<html class="ui-mobile">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css">
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.js"></script>
  </head>

  <body class="ui-mobile-viewport ui-overlay-c">


    <div data-role="page" id="meetings">
      <div data-role="header">
        <h1>Tulsa City Council Agendas</h1>
      </div>

      <div data-role="content" class="ui-content">
        <form class="ui-filterable">
              <input id="filterBasic-input" data-type="search">
        </form>
        <ul data-role="listview" data-filter="true" data-input="#filterBasic-input">
          {% for meeting in meetings %}
          <li><a href="#meeting-{{ meeting.id }}">{{ meeting.date }} - {{ meeting.name }}<span class="ui-li-count">{{ meeting.items.all.count }}</span></a></li>
          {% endfor %}
        </ul>
      </div>

      <div data-role="footer" data-position="fixed">
        <a href="http://github.com/codefortulsa/punctuil" target="_blank">Coded</a> by <a href="http://codefortulsa.org" target="_blank">Code for Tulsa</a> and <a href="http://orgs.utulsa.edu/acm/" target="_blank">TU ACM</a>
      </div>
    </div>



    {% for meeting in meetings %}
    <div data-role="page" id="meeting-{{ meeting.id }}">
      <div data-role="header">
        <h1>Tulsa City Council Agendas</h1>
      </div>

      <div data-role="content" class="ui-content">
        <form class="ui-filterable">
              <input id="filterBasic-input" data-type="search">
        </form>
        <ul data-role="listview" data-filter="true" data-input="#filterBasic-input">
          {% for item in meeting.items.all %}
          <li data-icon="alert"><a href="#subscribe-{{ meeting.id }}-{{ item.id }}" data-rel="popup">{{ item.number }} - {{ item.text }}</a></li>
          <div data-role="popup" id="subscribe-{{ meeting.id }}-{{ item.id }}">
            <h3>Receive text alert for item?</h3>
            <p>Enter your mobile phone number to receive a text when this item is discussed.</p>
            <form action="/agendas/alert" method="post">
              <input type="hidden" name="agenda_item" value="{{ item.id }}">
              <label for="tel">Tel:</label>
              <input name="tel" value="" type="tel">
              <input type="submit" value="Submit">
            </form>
          </div>
          {% endfor %}
        </ul>
      </div>

      <div data-role="footer" data-position="fixed">
        <a href="http://github.com/codefortulsa/punctuil" target="_blank">Coded</a> by <a href="http://codefortulsa.org" target="_blank">Code for Tulsa</a> and <a href="http://orgs.utulsa.edu/acm/" target="_blank">TU ACM</a>
      </div>
    </div>

    {% endfor %}



  </body>

</html>
