<!DOCTYPE html>
<html class="ui-mobile">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css">
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.js"></script>
  </head>

  <body class="ui-mobile-viewport ui-overlay-c">
    <div data-role="page">
      <div data-role="header">
        <h1>Tulsa City Council Agendas</h1>
      </div>

      <div data-role="content">
  content
      </div>

      <div data-role="footer" data-position="fixed">
        <a href="http://github.com/codefortulsa/punctuil" target="_blank">Coded</a> by <a href="http://codefortulsa.org" target="_blank">Code for Tulsa</a> and <a href="http://orgs.utulsa.edu/acm/" target="_blank">TU ACM</a>
      </div>
    </div>
  </body>

</html>
